.sonarlint
.sonarlint/**
target
target/**
**/*.iml
.idea
.idea/**
.vscode
.vscode/**
**/node_modules
**/node_modules/**
**/package-lock.json
src/main/frontend/dist
src/main/frontend/build
src/main/frontend/dist/**
src/main/frontend/build/**
.classpath
.project
.settings
.settings/**
.factorypath